<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{:: title}, ~{}, ~{:: #main-content}, ~{:: #js})}">
<head>
    <title>Đăng ký</title>
</head>
<body>
<th:block id="main-content">
    <section class="py-4">
        <div class="container">
            <h3 class="mb-3 text-center">Đăng ký</h3>
            <div class="row justify-content-center">
                <div class="col-4">
                    <form class="p-5 rounded bg-body-tertiary" id="form-register">
                        <div class="mb-3 form-group">
                            <label for="name" class="form-label">Tên</label>
                            <input type="text" class="form-control" id="name" name="nameUser" required>
                        </div>
                        <div class="mb-3 form-group">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" name="contentEmail" required>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">Mật khẩu</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="password" name="contentPassword" required/>
                                <span class="input-group-text icon-toggle-password">
                                    <i class="fa-regular fa-eye"></i>
                                </span>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Nhập lại mật khẩu</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="confirm-password"
                                       name="contentPasswordConfirm" required/>
                                <span class="input-group-text icon-toggle-password">
                                    <i class="fa-regular fa-eye"></i>
                                </span>
                                <span id="error-message"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="submit" class="btn btn-primary px-4">Đăng Ký</button>
                            <a class="text-primary" href="/dang-nhap">Đăng nhập?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</th:block>


<th:block id="js">
    <script th:src="@{/web/js/register.js}"></script>
</th:block>
</body>
</html>